#body .center{
	width: 1400px;
	height: 900px;
	margin: auto;
}
#body .body_t{
	width: 1400px;
	height: 400px;
	background: url(../img/鬼灭之刃bg.png);
	margin-top: 30px;
	box-shadow: 1px 1px 50px #CD77FF;
}
#body .body_t h2{
	font:normal 800 30px/60px "微软雅黑";
	color: #842cff;
	width: 180px;
	margin-left: 120px;
	margin-bottom: 10px;
	border-bottom: 5px solid #ff7dcd;
	background: rgb(166, 254, 218,0.5);
	border-radius: 5px;
	text-shadow: 2px 2px 3px #CD77FF;
}
#body .body_t li{
	position: relative;
	float: left;
	margin-left: 120px;
	margin-top: 20px;
	box-shadow: 1px 1px 50px #CD77FF;
}
#body li:hover{
	transform: scale(1.2);
	transition-duration: 0.5s;
}
#body img{
	border-radius: 5px 5px 0px 0px;
}
#body .body_t div{
	position: absolute;
	width: 200px;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
	background: rgb(215, 255, 251,0.5);
	top: 200px;
}
#body .body_t p{
	font:normal 800 14px/30px "微软雅黑";
	color: #3f4e59;
	width: 150px;
	margin-left: 15px;
}
#body .body_t button{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	bottom: 14px;
	right: 20px;
	outline: none;
	background: url(../img/加入购物车.png) -2px -2px;
}

#body .body_b{
	width: 1400px;
	height: 400px;
	background: url(../img/粘土人bg.png);
	margin-top: 20px;
	box-shadow: 1px 1px 50px #b4b4ff;
}

#body .body_b h2{
	font:normal 800 30px/60px "微软雅黑";
	color: #cba0ff;
	width: 150px;
	margin-left: 120px;
	margin-bottom: 10px;
	border-bottom: 5px solid #e0a0ff;
	background: rgb(237, 229, 254,0.2);
	border-radius: 5px;
	text-shadow: 2px 2px 5px #b4b4ff;
}
#body .body_b li{
	position: relative;
	float: left;
	margin-left: 120px;
	margin-top: 20px;
}

#body .body_b div{
	position: absolute;
	width: 200px;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
	background: rgb(215, 255, 251,0.5);
	top: 200px;
}
#body .body_b p{
	font:normal 800 14px/30px "微软雅黑";
	color: #3f4e59;
	width: 150px;
	margin-left: 15px;
}
#body .body_b button{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	bottom: 14px;
	right: 20px;
	outline: none;
	background: url(../img/加入购物车.png) -2px -2px;
}
